
@mixin media-query($media-query) {
    @if $media-query == tiny {
        @media only screen and (min-width:$tiny) { @content;}
    }
    @if $media-query == small {
        @media only screen and (min-width:$small) { @content;}
    }
    @if $media-query == medium {
        @media only screen and (min-width:$medium) { @content;}
    }
    @if $media-query == large {
        @media only screen and (min-width:$large) { @content;}
    }
    @if $media-query == xlarge {
        @media only screen and (min-width: $xlarge) { @content;}
    }
    @else {
        @media only screen and ($media-query) { @content; }
    }
}


@mixin width-limit {
    max-width: $siteWidthLimit;
    margin: 0 auto;
}

@mixin siteGutter {
    padding: 0 $unit-small;

    @include media-query(tiny) {
        padding: 0 $unit-medium;
    }

    @include media-query(medium) {
        padding: 0 $unit-large;
    }

    @include media-query(large) {
        padding: 0 $unit-xlarge;
    }
}
