:global(.rangeslider) {
    margin: 20px 0;
    position: relative;
    background: #e6e6e6;
    -ms-touch-action: none;
    touch-action: none
}

:global(.rangeslider),
:global(.rangeslider .rangeslider__fill) {
    display: block;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .4)
}

:global(.rangeslider .rangeslider__handle) {
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 -1px 3px rgba(0, 0, 0, .4)
}

:global(.rangeslider .rangeslider__handle .rangeslider__active) {
    opacity: 1
}

:global(.rangeslider .rangeslider__handle-tooltip) {
    width: 40px;
    height: 40px;
    text-align: center;
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    font-weight: 400;
    font-size: 14px;
    transition: all .1s ease-in;
    border-radius: 4px;
    display: inline-block;
    color: #fff;
    left: 50%;
    transform: translate3d(-50%, 0, 0)
}

:global(.rangeslider .rangeslider__handle-tooltip span) {
    margin-top: 12px;
    display: inline-block;
    line-height: 100%
}

:global(.rangeslider .rangeslider__handle-tooltip:after) {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0
}

:global(.rangeslider-horizontal) {
    height: 12px;
    border-radius: 10px
}

:global(.rangeslider-horizontal .rangeslider__fill) {
    height: 100%;
    background-color: #7cb342;
    border-radius: 10px;
    top: 0
}

:global(.rangeslider-horizontal .rangeslider__handle) {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    top: 50%;
    transform: translate3d(-50%, -50%, 0)
}

:global(.rangeslider-horizontal .rangeslider__handle:after) {
    content: ' ';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 6px;
    left: 6px;
    border-radius: 50%;
    background-color: #dadada;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4) inset, 0 -1px 3px rgba(0, 0, 0, .4) inset
}

:global(.rangeslider-horizontal .rangeslider__handle-tooltip) {
    top: -55px
}

:global(.rangeslider-horizontal .rangeslider__handle-tooltip:after) {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgba(0, 0, 0, .8);
    left: 50%;
    bottom: -8px;
    transform: translate3d(-50%, 0, 0)
}

:global(.rangeslider-vertical .rangeslider__handle-tooltip:after) {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid rgba(0, 0, 0, .8);
    left: 100%;
    top: 12px
}

:global(.rangeslider-reverse.rangeslider-horizontal .rangeslider__fill) {
    right: 0
}

:global(.rangeslider__labels) {
    position: relative
}

:global(.rangeslider__labels .rangeslider__label-item) {
    position: absolute;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    top: 10px;
    transform: translate3d(-50%, 0, 0)
}