$tiny:                400px;
$small:               575px;
$medium:              768px;
$large:               1023px;
$xlarge:              1199px;
$siteWidthLimit:      1200px;

$baseline-grid:       8px;

$unit-tiny:           4px;
$unit-small:          8px;
$unit-medium:         16px;
$unit-large:          24px;
$unit-xlarge:         32px;
$unit-xxlarge:        40px;

$border-radius:       4px;

$shed-orange:         #f38c2f;
$shed-purple:         #5c5aa5;
$shed-teal:           #6ec4b3;
$shed-grey:           #cecfd0;
$color-grey:          #909090;
$color-white:         #f7f7f7;
$color-bg:            #ededed;
$color-content:       #e4e4e4;
$color-content2:      #d0d0d0;
$color-text:          #404040;
$color-dark:          #1e2a26;
$color-black:         #02191f;
$color--default:      #4d416b;
$color--contrast:     #40355c;
$color--white:        #fbfbfb;
// $color-gradientDark:  linear-gradient(125deg, $color-primary 0%, $color-primary 8%, $color-dark 90%);
// $color-gradSubtle:    linear-gradient(15deg, darken($color-primary, 10%) 0%, $color-primary 100%);
