@import "../../../constants/scss/includes.scss";

footer {

    @include siteGutter;

    section {
        border-top: 1px solid $shed-grey;
        flex-wrap: nowrap;
        display: flex;
        @include width-limit;
    }

    li {
        white-space: nowrap;
    }
}