@import "../../constants/scss/includes.scss";


:global(html) {
    &::-webkit-scrollbar {
        display: none;
    }
}

:global(body) {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Catamaran', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

:global(#__next) {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: $color-bg;
}

:global(*, *:before, *:after) {
    box-sizing: border-box;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    @include siteGutter;

    &::-webkit-scrollbar {
        display: none;
    }
}

section {
    @include width-limit;
}

p {
    color: $color-text;
}

a {
    color: $shed-orange;
}
