@import "../../../constants/scss/includes.scss";

$color--default: #4d416b;
$color--primary: #f3ac85;
$color--secondary: #33ceb6;
$color--white: #fbfbfb;
$color--light: #d0ced9;
$color--contrast: #40355c;

h4 {
    position: relative;
    background: $color--white;
    border-radius: $unit-medium $unit-medium 0 $unit-medium;
    display: inline-flex;
    margin: 0 0 $unit-medium;
    padding: $unit-medium $unit-medium 12px;
    font-size: 20px;
    line-height: 1.2;
    color: $color--contrast;
}

article {
    position: relative;
    width: 800px;
    margin-bottom: $unit-small;
    border-radius: 50px;
    overflow: hidden;
}

span {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}

div {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: center;
    text-align: left;

    p {
        flex-grow: 1;

        &:first-child {
            width: 610px;
            min-width: 610px;
            padding: $unit-small $unit-small $unit-small $unit-large;
        }

        &:nth-child(2) {
            background: $color--default;
            color: $color--light;
            border-radius: 50px;
            text-align: center;
            padding: $unit-small;
        }

        &:last-child {
            width: 90px;
            padding: $unit-small;
        }
    }
}


