@import "../../../constants/scss/includes.scss";

$color--default: #4d416b;
$color--primary: #f3ac85;
$color--secondary: #33ceb6;
$color--white: #fbfbfb;
$color--light: #d0ced9;
$color--contrast: #40355c;

article {
    display: none;
    max-width: 500px;
    position: relative;
    overflow: hidden;
    background: $color--white;
    padding: $unit-medium $unit-medium 80px $unit-medium;
    border-radius: 16px;
    box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 200ms ease-in-out;

    &:hover {
        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    }

    &.show {
        display: block;
        transform: translateX(0);
        animation: change 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    > div {
        z-index: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 250px;
    }
}

h4 {
    position: relative;
    background: $color--white;
    border-radius: $unit-medium $unit-medium 0 $unit-medium;
    display: inline-flex;
    margin: 0 0 $unit-medium;
    padding: $unit-medium $unit-medium 12px;
    font-size: 20px;
    line-height: 1.2;
    color: $color--contrast;
}

span {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}


p {
    text-align: center;
    position: relative;
    padding: $unit-medium $unit-xlarge;
    color: $color--default;
    margin: auto;

    &:before {
        content: "“";
        left: 0;
        top: 0;
    }

    &:after {
        content: "”";
        right: 0;
        bottom: -50px;
    }

    &:before,
    &:after {
        font-size: 5rem;
        line-height: 1;
        position: absolute;
        pointer-events: none;
    }
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: $color--white;
    padding: $unit-medium;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    input[type="range"] {
        width: 100%;
        border-radius: 20px;
        height: 10px;
        -webkit-appearance: none;
        background-color: $color--light;
        outline: none;

        &::-webkit-slider-thumb {
            width: $unit-large;
            height: $unit-large;
            margin-top: -$unit-tiny;
            border-radius: 50%;
            -webkit-appearance: none;
            cursor: ew-resize;
            background: $color--default;
        }
    }

    .confirm {
        background: $color--default;
        color: $color--light;
        height: $unit-xlarge;
        align-items: center;
        display: flex;
        border-radius: 20px;
        margin-left: $unit-medium;
        padding: $unit-small $unit-small $unit-small $unit-medium;
        cursor: pointer;
        width: 80px;
        justify-content: space-between;

        p {
            padding: 0;
        }
        
        svg {
            width: $unit-medium;
            fill: $color--light;
            margin: 0 0 0 $unit-small;
        }
    }
}

@keyframes change {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}