@import "../../../constants/scss/includes.scss";

li {
    color: $color--contrast;
    cursor: pointer;
    margin: 0 $unit-tiny;

    > a {
        padding: $unit-small $unit-medium;
        display: inline-flex;
        transition: all .2s ease-in;
        border-radius: 20px;
        white-space: nowrap;

        span {
            display: block;
        }

        &:hover {
            background: $color--default;
            color: #F7F9F9;
        }
    }

    &.active > a {
        background: var(--main-bg-color);
        color: #F7F9F9;
    }
}