@import "../../constants/scss/includes.scss";


button {
    height: 50px;
    width: 250px;
    cursor: pointer;
    position: relative;
    border: 2px solid $shed-orange;
    border-radius: 2px;
    overflow: hidden;
    color: $shed-orange;
    font-size: 1.2rem;
    font-family: ;

    span {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    &:before {
        content: '';
        z-index: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $shed-orange;
        transform: translateX(-100%);
        transition: transform ease-in-out 200ms;
    }

    &:hover {
        &:before {
            transform: translateX(0);
        }
    }
}
