@import "../../constants/scss/includes.scss";

input[type='radio'] {
    position: absolute;
    left: -9999em;
    top: -9999em;

    &:checked + label {
        background: $shed-orange;
        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    }
}

article {
    width: 180px;
    height: 150px;
    position: relative;
    border-radius: 2px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

svg {
    height: 60%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    pointer-events: none;
}

label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: $unit-large;
    cursor: pointer;

    background: $color--white;
    border-radius: 16px;
    box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.1);
    transition: all 200ms ease-in-out;

    &:hover {
        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    }
}