@import "../../constants/scss/includes.scss";

h1 {
    position: relative;
    z-index: 9;
    @include width-limit;
}

section {
    @include width-limit;
    width: 100%;
    display: flex;
    justify-content: space-between;
}