@import "../../constants/scss/includes.scss";

h1 {
    position: relative;
    z-index: 9;
    @include width-limit;
}

p {
    max-width: $medium;
    margin: 0 auto $unit-large;
}

section {
    display: flex;
    justify-content: space-evenly;
}