@import "../../constants/scss/includes.scss";

h1 {
    position: relative;
    z-index: 9;
    @include width-limit;
}

p {
    max-width: $medium;
    margin: 0 auto $unit-large;
}

section {
    @include width-limit;
    width: 100%;
    display: flex;
    background: white;
    padding: 0 $unit-medium 0 0;
}

article {
    text-align: left;
    cursor: pointer;

    &:first-child {
        padding: 0 $unit-medium;
        margin-right: $unit-medium;
        align-items: center;
        background-image: radial-gradient(circle 321px at 8.3% 75.7%,#d1f7f1 0%,#e9fdea 81%);
        border-radius: 4px;
    }

    &:last-child {
        width: 100%;
    }
}

ul {
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-gap: $unit-small;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

li {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    padding: $unit-small;
    opacity: 0.6;
    transition: all 200ms ease-in-out;

    &.selected,
    &:hover {
        opacity: 1;
        border: 1px solid #1c7ead;
    }
}

span {
    display: inline-flex;
    align-content: center;
}

input {
    flex-shrink: 1;
    width: 100%;
    background: transparent;
    padding: $unit-small;
    border: 1px solid #c6dde8;
    border-radius: 2px;
    margin-top: $unit-small;
}

svg {
    fill: $color-text;
    height: 24px;
    margin-right: $unit-small;
}