@import "../../constants/scss/includes.scss";

h1 {
    position: relative;
    z-index: 9;
    @include width-limit;
}

section {
    @include width-limit;
    width: 100%;
    margin: auto;
    text-align: center;
}

button {
    @include btn-primary;
    @include width-limit;
    width: 100%;
}

nav ul {
    @include width-limit;
    overflow: hidden;
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    
    li {
        display: inline-flex;
        flex-grow: 1;
        cursor: pointer;
        transition: all 250ms ease-in-out;
        background: #ddd;
        padding: $unit-medium $unit-large;
        display: flex;
        align-items: center;
        color: #c3c3c3;
        transition: all 250ms ease-in-out;
        border-radius: 50px;
        margin: 0 $unit-tiny;
        justify-content: center;
        white-space: nowrap;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover,
        &.selected {
            background: $shed-purple;
            color: $color-white;
        }

        &.complete,
        &.complete:hover {
            background: $color--contrast;
            color: $color-white;
        }
    }
    
}
