@import "../../constants/scss/includes.scss";

h1 {
    position: relative;
    z-index: 9;
    @include width-limit;
}

p {
    max-width: $medium;
    margin: 0 auto $unit-large;
}

section {
    @include width-limit;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $unit-medium;
}

ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    margin: 0 0 100px 0;
    padding: 0;
}

:global(:root) {
    --main-bg-color: #33ceb6;
    // Set this sections background colour to be green.
}