@import "../../../constants/scss/includes.scss";

header {
    @include siteGutter;
}

section {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: $unit-medium 0;
    @include width-limit;
    
    @include media-query(large) {
        align-items: flex-end;
    }
}

a {
    text-decoration: none;
    color: $color-text;
}