@import "../../../constants/scss/includes.scss";

h1 {
    font-weight: 100;
    margin: 0;
}

span {
    display: flex;
    align-items: flex-end;
    z-index: 9;
    position: relative;

    h1 {
        margin: 0 0 0 $unit-small;
    }
}

svg {
    display: block;
    fill: transparent;
    stroke: #333;
    stroke-miterlimit: 10;
    stroke-width: 40;
    width: $unit-large;
    
        .init {
            opacity: 0;
            stroke: $shed-orange;
            stroke-dasharray: 1000;
            animation: init 800ms linear forwards;
            animation-delay: 1000ms;
        }
    
    path {
        opacity: 0;
        animation: bg 600ms linear forwards;
        animation-delay: 1200ms;
    }
    
    .bg {
        stroke: $shed-orange;
        stroke-dasharray: 134 6 50 6 30 6 100 6 3000;
    }

    .seg-one {
        stroke: $shed-purple;
        stroke-dasharray:  0 232 100 2000;
    }
    
    .seg-two {
        stroke: $shed-grey;
        stroke-dasharray:  0 196 30 2000;
    }
    
    .seg-three {
        stroke: $shed-teal;
        stroke-dasharray:  0 140 50 2000;
    }
}

@keyframes init {
    0% { stroke-dashoffset: 800; opacity: 1; }
    50% { stroke-dashoffset: 0; }
    99% { opacity: 1;}
    100% { opacity: 0; }
}

@keyframes bg {
    from { stroke-dashoffset: 800; opacity: 0; }
    to { stroke-dashoffset: 0; opacity: 1; }
}


